@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  a, button {
    all: unset;
    cursor: pointer;
  }

  input {
    all: unset;
  }

  ::placeholder { /* Most modern browsers support this now. */
    color: var(--subtitle-color);
  }
}