.button{
  width: 100px;
  height: 30px;
  background-color: aqua;
}

.loading{
  width: 100px;
  height: 30px;
  background-color: #2b3e51;
}

.error{
  width: 100px;
  height: 30px;
  background-color: red;
}