.input {
  width: 320px;
  height: 48px;
  padding: 0 2px;
  font-size: 18px;
  color: var(--title-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  transition: all var(--transition);

  &:focus {
    box-shadow: var(--input-box-shadow);
  }
}

.error {
  border: 1px solid var(--error-color);
  &:focus {
    box-shadow: var(--box-shadow-error);
  }
}